<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sun.app.member.MemberDAO">
<insert id="addFile" parameterType="MemberFileDTO">
	INSERT INTO MEMBERFILES VALUES (FILES_SEQ.NEXTVAL, #{id},#{filename},#{oriname})
</insert>

	<select id="join" parameterType="MemberDTO">
		INSERT INTO USERS
		VALUES(#{id},#{phone},#{password},#{name},#{ss_num},#{email})
	</select>


	<select id="login" parameterType="MemberDTO"
		resultType="MemberDTO">
		SELECT ID,NAME,PASSWORD
		FROM USERS 
		WHERE ID=#{id}
	</select>
	
	<select id="detail" parameterType="MemberDTO" resultMap="loginResult">
		SELECT *
		FROM USERS U
					LEFT JOIN
					ACCOUNT A
					ON U.ID=A.ID
						LEFT  OUTER JOIN
						MEMBERFILES F
						ON U.ID=F.ID
					WHERE U.ID=#{id}
</select>
	
 <resultMap type="MemberDTO" id="loginResult">

		<id column="ID" property="id" />
		<result column="PASSWORD" property="password" />
		<result column="EMAIL" property="email" />
		<result column="SS_NUM" property="ss_num" />
		<result column="NAME" property="name" />
		<result column="PHONE" property="phone" />
		
<association property="memberFileDTO" javaType="MemberFileDTO">
<id column="FILENUM" property="filenum"/>
<result column="FILENAME" property="filename"/>
<result column="ORINAME" property="oriname"/>
</association>



		<collection property="dtos" javaType="java.util.List"
			ofType="com.sun.app.accounts.AccountDTO">
			<id column="AC_NUM" property="ac_num" />
			<result column="ID" property="id" />
			<result column="P_CODE" property="p_code" />
			<result column="A_BALANCE" property="a_balance" />
			<result column="A_DATE" property="a_date" />
		</collection>

	</resultMap>

	<update id="update" parameterType="MemberDTO">
		UPDATE USERS SET NAME=#{name}
		,EMAIL=#{email},PHONE=#{phone}
		WHERE ID=#{id}
	</update>

	<delete id="delete" parameterType="MemberDTO">
		DELETE USERS WHERE ID=#{id}
	</delete>
</mapper>