<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sun.app.boards.notice.NoticeDAO">
	<select id="getList" parameterType="Pager" resultType="NoticeDTO">
		SELECT * FROM 
		(	SELECT 		ROWNUM r, n.*
			FROM	(	SELECT 		*
						FROM 		NOTICE
						<where>		
									BOARDNUM > 0	
							<choose>
								<when test="kind == 'k1'">
									AND BOARDTITLE LIKE '%'||#{search}||'%'
								</when>
								<otherwise>
									AND BOARDCONTENTS LIKE '%'||#{search}||'%'
								</otherwise>
							</choose>
						</where>
						ORDER BY	BOARDNUM DESC	) n)
		WHERE	r BETWEEN #{startRow} AND #{lastRow}
	</select>
	
	<select id="getTotalCount" parameterType="Pager" resultType="java.lang.Long">
		SELECT	COUNT(BOARDNUM)
		FROM	(
			SELECT	*
			FROM	NOTICE
			<where>		
				BOARDNUM > 0	
				<choose>
					<when test="kind == 'k1'">
						AND BOARDTITLE LIKE '%'||#{search}||'%'
					</when>
					<when test="kind == 'k2'">
						AND BOARDWRITER LIKE '%'||#{search}||'%'
					</when>
					<otherwise>
						AND BOARDCONTENTS LIKE '%'||#{search}||'%'
					</otherwise>
				</choose>
			</where>
		)
	</select>
	
	<update id="update" parameterType="NoticeDTO">
		UPDATE	NOTICE
		SET		BOARDTITLE = #{boardTitle}, BOARDCONTENTS = #{boardContents}
		WHERE 	BOARDNUM = #{boardNum}
	</update>
		
	<select id="getNum" resultType="java.lang.Integer">
	SELECT BOARD_SEQ.NEXTVAL FROM DUAL 
</select>
	
	<insert id="add" parameterType="NoticeDTO">
INSERT INTO NOTICE (BOARDNUM,BOARDWRITER,BOARDCONTENTS,CREATEDATE,BOARDTITLE)
VALUES (#{boardNum}, #{boardWriter}, #{boardContents},SYSDATE,#{boardTitle}
		)
	</insert>
	<insert id="addFile" parameterType="BoardFileDTO">
	INSERT INTO NOTICEFILES
	VALUES (FILES_SEQ.NEXTVAL,#{boardNum} ,#{filename},#{oriname})
</insert>
	
	<select id="getDetail" parameterType="NoticeDTO" resultMap="getDetailResult">
		SELECT N.*,NO.* 
		FROM NOTICE N
		LEFT JOIN
		NOTICEFILES NO
		ON (N.BOARDNUM=NO.BOARDNUM)
		WHERE N.BOARDNUM=#{boardNum}
	</select>
	<resultMap type="NoticeDTO" id="getDetailResult">
		<id column="BOARDNUM" property="boardNum"/>
		<result column="BOARDCATEGORY" property="boardCategory"/>
		<result column="BOARDWRITER" property="boardWriter"/>
		<result column="BOARDCONTENTS" property="boardContents"/>
			<result column="BOARDTITLE" property="boardTitle"/>
				<result column="BOARDHIT" property="boardHit"/>
				<result column="CREATEDATE" property="createDate"/>
					<result column="UPDATEDATE" property="updateDate"/>
					
		<collection property="fileDTOs" javaType="List" ofType="BoardFileDTO">
		<id column="FILENUM" property="filenum"/>
	<result column="FILENAME" property="filename"/>
	<result column="ORINAME" property="oriname"/>
		</collection>
	</resultMap>
	<delete id="delete" parameterType="NoticeDTO">
		DELETE NOTICE WHERE BOARDNUM=#{boardNum}
	</delete>
	
	<update id="hit" parameterType="NoticeDTO">
		UPDATE NOTICE
		SET BOARDHIT = BOARDHIT+1
		WHERE BOARDNUM = #{boardNum}
	</update>
	
</mapper>