<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sun.app.boards.notice.NoticeDAO">
	<select id="getList" parameterType="Pager" resultType="NoticeDTO">
		SELECT * FROM 
		(	SELECT 		ROWNUM r, n.*
			FROM	(	SELECT 		*
						FROM 		NOTICE
						<where>		
									BOARDNUM > 0	
							<choose>
								<when test="kind == 'k1'">
									AND BOARDTITLE LIKE '%'||#{search}||'%'
								</when>
								<otherwise>
									AND BOARDCONTENTS LIKE '%'||#{search}||'%'
								</otherwise>
							</choose>
						</where>
						ORDER BY	BOARDNUM DESC	) n)
		WHERE	r BETWEEN #{startRow} AND #{lastRow}
	</select>
	
	<select id="getTotalCount" parameterType="Pager" resultType="java.lang.Long">
		SELECT	COUNT(BOARDNUM)
		FROM	(
			SELECT	*
			FROM	NOTICE
			<where>		
				BOARDNUM > 0	
				<choose>
					<when test="kind == 'k1'">
						AND BOARDTITLE LIKE '%'||#{search}||'%'
					</when>
					<when test="kind == 'k2'">
						AND BOARDWRITER LIKE '%'||#{search}||'%'
					</when>
					<otherwise>
						AND BOARDCONTENTS LIKE '%'||#{search}||'%'
					</otherwise>
				</choose>
			</where>
		)
	</select>
	
	<update id="update" parameterType="NoticeDTO">
		UPDATE	NOTICE
		SET		BOARDTITLE = #{boardTitle}, BOARDCONTENTS = #{boardContents}
		WHERE 	BOARDNUM = #{boardNum}
	</update>
	
	<insert id="add" parameterType="NoticeDTO">
INSERT INTO NOTICE (BOARDNUM,BOARDWRITER,BOARDCONTENTS,CREATEDATE,BOARDTITLE)
VALUES (BOARD_SEQ.NEXTVAL, #{boardWriter}, #{boardContents},SYSDATE,#{boardTitle}
		)
	</insert>
	
	<select id="getDetail" parameterType="NoticeDTO" resultType="NoticeDTO">
		SELECT * FROM NOTICE WHERE BOARDNUM=#{boardNum}
	</select>
	
	<delete id="delete" parameterType="NoticeDTO">
		DELETE NOTICE WHERE BOARDNUM=#{boardNum}
	</delete>
	
	<update id="hit" parameterType="NoticeDTO">
		UPDATE NOTICE
		SET BOARDHIT = BOARDHIT+1
		WHERE BOARDNUM = #{boardNum}
	</update>
	
</mapper>