<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- table 명 들어가야함 겹치면 안됩 -->
<mapper namespace="com.sun.app.product.ProductDAO">
<delete id="commentDelete" parameterType="ProductCommentsDTO">
 DELETE COMMENTS WHERE COMMENTS_NUM=#{comments_num}
</delete>

<delete id="deleteWishList" parameterType="java.util.Map">
	DELETE WISHLIST WHERE ID=#{id}  AND  P_CODE IN 
	<foreach collection="ids"  item="item"  open="("  separator=","  close=")">
		#{item}             
	</foreach>
</delete>

<insert id="addWish" parameterType="java.util.Map">
		INSERT INTO WISHLIST 
		VALUES (#{id},#{p_code})
</insert>

<select id="wishList" resultType="ProductDTO" parameterType="MemberDTO">
	
	SELECT P.* FROM WISHLIST W
	LEFT JOIN PRODUCTS P
		ON P.P_CODE =W.P_CODE
	 WHERE W.ID=#{id}
</select>

<select id="commentTotalCount"  resultType="java.lang.Long" parameterType="ProductCommentPager">
	SELECT COUNT (COMMENTS_NUM) FROM COMMENTS
	WHERE P_CODE =#{p_code}
</select>
<select id="commentList" resultType="ProductCommentsDTO" parameterType="ProductCommentPager">
	SELECT * FROM
	(
		SELECT ROWNUM R,C.* FROM
		(
			SELECT * FROM COMMENTS 
			WHERE P_CODE =#{p_code}
			ORDER BY  COMMENTS_NUM DESC
		)C
	)
	WHERE R BETWEEN #{startRow} AND #{lastRow}
</select>
<insert id="commentAdd" parameterType="ProductCommentsDTO">
INSERT INTO COMMENTS VALUES
(PRODUCTS_SEQ.NEXTVAL,#{id},#{comments_Content},#{p_code},SYSDATE)
</insert>

	<select id="getList" resultType="ProductDTO"
		parameterType="com.sun.app.util.Pager">
		SELECT * FROM
		(SELECT ROWNUM R,B.* FROM
		(SELECT * FROM PRODUCTS
		<where>
			P_CODE >0
			<choose>
				<when test="kind=='k2'">
					AND SCRIPT LIKE '%'||#{search}||'%'
				</when>
				<otherwise>
					AND AC_NAME LIKE '%'||#{search}||'%'
				</otherwise>
			</choose>
		</where>
		ORDER BY P_CODE DESC
		) B
		)
		WHERE R BETWEEN #{startRow} AND #{lastRow}

	</select>
	<select id="getTotalCount" resultType="java.lang.Long"
		parameterType="com.sun.app.util.Pager">
		SELECT COUNT(P_CODE) FROM
		PRODUCTS
		<where>
			P_CODE >0
			<choose>
				<when test="kind=='k2'">
					AND SCRIPT LIKE '%'||#{search}||'%'
				</when>
				<otherwise>
					AND AC_NAME LIKE '%'||#{search}||'%'
				</otherwise>
			</choose>
		</where>
	</select>

	<select id="getDetail" resultMap="getDetailResult"
		parameterType="ProductDTO">
		SELECT P.*,PF.* 
		FROM PRODUCTS P
			LEFT JOIN
			PRODUCTSFILES PF
			ON (P.P_CODE=PF.P_CODE)
		WHERE P.P_CODE= #{p_code}
	</select >
	<resultMap type="ProductDTO" id="getDetailResult">
		<id column="P_CODE" property="p_code"/>
		<result column="AC_NAME" property="ac_name"/>
		<result column="INTEREST" property="interest"/>
		<result column="SCRIPT" property="script"/>
		<collection property="fileDTOs" javaType="List" ofType="ProductFileDTO">
		<id column="FILENUM" property="filenum"/>
	<result column="FILENAME" property="filename"/>
	<result column="ORINAME" property="oriname"/>
		</collection>
	</resultMap>
<select id="getNum" resultType="java.lang.String">
	SELECT PRODUCTS_SEQ.NEXTVAL FROM DUAL 
</select>

	<insert id="add" parameterType="ProductDTO">
		INSERT INTO PRODUCTS VALUES
		(#{p_code}, #{ac_name}, #{interest},
		#{script})
	</insert>
<insert id="addFile" parameterType="ProductFileDTO">
	INSERT INTO PRODUCTSFILES
	VALUES (FILES_SEQ.NEXTVAL,#{p_code} ,#{filename},#{oriname})
</insert>


	<select id="delete" parameterType="ProductDTO">
		DELETE PRODUCTS WHERE P_CODE=
		#{p_code}
	</select>

	<select id="update" parameterType="ProductDTO">
		UPDATE PRODUCTS SET
		AC_NAME=#{ac_name}, INTEREST=#{interest},
		SCRIPT=#{script} WHERE
		P_CODE= #{p_code}
	</select>

	<select id="fileDetail" parameterType="FileDTO" resultType="FileDTO">
		SELECT * FROM QNAFILES WHERE FILENUM=#{filenum}
	</select>

</mapper> 

  
