<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- table 명 들어가야함 겹치면 안됩 -->
<mapper namespace="com.sun.app.product.ProductDAO">


	<select id="getList" resultType="ProductDTO"
		parameterType="com.sun.app.util.Pager">
		SELECT * FROM
		(SELECT ROWNUM R,B.* FROM
		(SELECT * FROM PRODUCTS
		<where>
			P_CODE >0
			<choose>
				<when test="kind=='k2'">
					AND SCRIPT LIKE '%'||#{search}||'%'
				</when>
				<otherwise>
					AND AC_NAME LIKE '%'||#{search}||'%'
				</otherwise>
			</choose>
		</where>
		ORDER BY P_CODE DESC
		) B
		)
		WHERE R BETWEEN #{startRow} AND #{lastRow}

	</select>
	<select id="getTotalCount" resultType="java.lang.Long"
		parameterType="com.sun.app.util.Pager">
		SELECT COUNT(P_CODE) FROM
		PRODUCTS
		<where>
			P_CODE >0
			<choose>
				<when test="kind=='k2'">
					AND SCRIPT LIKE '%'||#{search}||'%'
				</when>
				<otherwise>
					AND AC_NAME LIKE '%'||#{search}||'%'
				</otherwise>
			</choose>
		</where>
	</select>

	<select id="getDetail" resultType="ProductDTO"
		parameterType="ProductDTO">
		SELECT * FROM PRODUCTS WHERE P_CODE= #{p_code}
	</select>

	<insert id="add" parameterType="ProductDTO">
		INSERT INTO PRODUCTS VALUES
		(PRODUCTS_SEQ.NEXTVAL, #{ac_name}, #{interest},
		#{script})
	</insert>

	<select id="delete" parameterType="ProductDTO">
		DELETE PRODUCTS WHERE P_CODE=
		#{p_code}
	</select>

	<select id="update" parameterType="ProductDTO">
		UPDATE PRODUCTS SET
		AC_NAME=#{ac_name}, INTEREST=#{interest},
		SCRIPT=#{script} WHERE
		P_CODE= #{p_code}
	</select>


</mapper> 

  
