<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.sun.app.boards.qnas.QnaDAO">
<sql id="searchSql">
			<where>
				BOARDNUM>0
				<choose>
					<when test="kind=='title'">
						AND BOARDTITLE
					</when>
					<when test="kind=='contents'">
						AND BOARDCINTENTS
					</when>
					<otherwise>
						AND BOARDWRITER
					</otherwise>
				</choose>
				LIKE '%' || #{search} || '%'
			</where>
</sql>

<select id="getTotalCount" parameterType="Pager" resultType="java.lang.Long">
		SELECT COUNT(BOARDNUM) FROM QNA
		<include refid="searchSql"></include>
</select>

	<select id="list" parameterType="Pager" resultType="QnaDTO">
	SELECT * FROM
	(
		SELECT ROWNUM R, Q.* FROM
		(
			SELECT * FROM QNA
				<include refid="searchSql"></include>
			ORDER BY REF DESC, STEP ASC
		)Q
		)
		WHERE R BETWEEN #{startRow} AND#{lastRow}
	</select>
	<insert id="add" parameterType="QnaDTO">

			INSERT INTO QNA
			(BOARDNUM, BOARDWRITER,BOARDTITLE,BOARDCONTENTS,CREATEDATE,
			UPDATEDATE,BOARDHIT,BOARDCATEGORY,REF,STEP,DEPTH
			)
			VALUES
			( 
			#{boardNum}, #{boardWriter},#{boardTitle},#{boardContents},SYSDATE,
			SYSDATE,0,'Q', BOARD_SEQ.CURRVAL,0,0
			)
	</insert>
	<select id="getDetail" parameterType="QnaDTO" resultMap="getDetailResult">
	SELECT Q.*,QN.* 
	FROM QNA Q 
	LEFT JOIN
	QNAFILES QN
	ON (Q.BOARDNUM=QN.BOARDNUM)
	WHERE Q.BOARDNUM=#{boardNum} AND Q.DEL=0
	</select>
	<resultMap type="QnaDTO" id="getDetailResult">
		<id column="BOARDNUM" property="boardNum"/>
		<result column="BOARDCATEGORY" property="boardCategory"/>
		<result column="BOARDWRITER" property="boardWriter"/>
		<result column="BOARDCONTENTS" property="boardContents"/>
			<result column="BOARDTITLE" property="boardTitle"/>
				<result column="BOARDHIT" property="boardHit"/>
				<result column="CREATEDATE" property="createDate"/>
					<result column="UPDATEDATE" property="updateDate"/>
							<result column="DEL" property="del"/>
		<collection property="fileDTOs" javaType="List" ofType="BoardFileDTO">
		<id column="FILENUM" property="filenum"/>
	<result column="FILENAME" property="filename"/>
	<result column="ORINAME" property="oriname"/>
		</collection>
	</resultMap>
	<insert id="reply" parameterType="QnaDTO">
		INSERT INTO QNA
			(BOARDNUM, BOARDWRITER,BOARDTITLE,BOARDCONTENTS,CREATEDATE,
			UPDATEDATE,BOARDHIT,BOARDCATEGORY,REF,STEP,DEPTH
			)
			VALUES
			( 
			BOARD_SEQ.NEXTVAL, #{boardWriter},#{boardTitle},#{boardContents},SYSDATE,
			SYSDATE,0,'Q',#{ref} ,#{step},#{depth}
			)
	</insert>
	<update id="replyUpdate" parameterType="QnaDTO">
		UPDATE  QNA SET STEP=STEP+1 
		WHERE REF=#{ref} AND STEP >#{step}
	</update>
		<update id="update" parameterType="QnaDTO">
		UPDATE  QNA SET BOARDTITLE =#{boardTitle}, BOARDCONTENTS=#{boardContents}, UPDATEDATE=SYSDATE
		WHERE BOARDNUM =#{boardNum}
	</update>
	<delete id="delete" parameterType="QnaDTO">
	UPDATE QNA SET DEL=1 WHERE BOARDNUM=#{boardNum}
	</delete>
	
	<select id="getNum" resultType="java.lang.Integer">
	SELECT BOARD_SEQ.NEXTVAL FROM DUAL 
</select>
		<insert id="addFile" parameterType="BoardFileDTO">
	INSERT INTO QNAFILES
	VALUES (FILES_SEQ.NEXTVAL,#{boardNum} ,#{filename},#{oriname})
</insert>
</mapper> 

  